<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="AzureWebJobsDashboard" connectionString="DefaultEndpointsProtocol=https;AccountName=zoeazystorage;AccountKey=K/iS2dP91oUndiitVIK4BPQpF1hvdcj3kW1pQRQDSWUFFmTNSoVBvfR16fPMs6iJTdYopDU3ETXtSJbuYvxF/g== "/>
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" stdoutLogEnabled="false" startupTimeLimit="3600"/>
  </system.webServer>
</configuration>
