<footer ng-cloak>
    <div id="extra-data" layout="row" layout-align="end center" flex="noshrink" hide-xs hide-sm>
        <div>
            Powered by <md-button flex md-no-ink class="md-primary" ng-click="bd.bottomSheet($event, 'web')">Vertical Viral</md-button>
        </div>
        <div>
            <md-button flex md-no-ink class="md-primary" ng-click="bd.bottomSheet($event, 'vv')">Get to Know us</md-button>
        </div>
        <div>
            <md-button flex md-no-ink class="md-primary" ng-click="bd.bottomSheet($event, 'sn')">Social Networking</md-button>
        </div>
    </div>
    <div id="extra-data" layout="row" layout-align="space-around" flex hide-xs show-sm hide-gt-sm>
        <div>
            Powered by <md-button flex md-no-ink class="md-primary" ng-click="bd.bottomSheet($event, 'web')">Vertical Viral</md-button>
        </div>
        <div>
            <md-button flex md-no-ink class="md-primary" ng-click="bd.bottomSheet($event, '')">Get to Know us</md-button>
        </div>
    </div>
    <div id="extra-data" layout="row" layout-align="space-around" flex show-xs hide-gt-sm hide-sm>
        <div>
            <md-button flex md-no-ink class="md-primary" ng-click="bd.bottomSheet($event, 'all')">Get to Know us</md-button>
        </div>
    </div>
</footer>